/* COLOR PALETTE

Secondary: #06B6D4 BLUE

*/
@font-face {
    font-family: 'BebasNeue';
    src: url(/fonts/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: 'Manrope';
    src: url(/fonts/Manrope-Regular.ttf);
}

/* --------------------------------------------
                    BASE 
----------------------------------------------- */

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* set default to 10px/1rem */
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin: 0;
}


/* --------------------------------------------
TYPOGRAPHY 
----------------------------------------------- */

h1,
h2,
h3,
h4 {
    font-family: 'BebasNeue', sans-serif;
    line-height: 1.2;
    text-transform: uppercase;
}

p {
    font-family: 'Manrope', sans-serif;
    font-size: var(--text-md);
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
p {
    color: var(--text);
}

h1 {
    font-size: var(--text-3xl);
    letter-spacing: 2px;
    line-height: 1.1;
    margin-bottom: var(--space-sm);

}

h2 {
    font-size: var(--text-2xl);
    letter-spacing: 1.5px;
    margin-bottom: var(--space-sm);
}

h3 {
    font-size: var(--text-xl);
    letter-spacing: 1px;
    margin-bottom: var(--space-xs);
}

h4 {
    font-size: var(--text-lg);
}

/* --------------------------------------------
                        LINKS
    ----------------------------------------------- */

a {
    color: var(--text);
    text-decoration: none;
}

a:hover {
    color: #94A3B8;
    text-decoration: none;
}

/* --------------------------------------------
                       LAYOUT
    ----------------------------------------------- */
.content-bg {
    flex: 1;
    background: var(--background);
}

/* --------------------------------------------
                  HEADER
----------------------------------------------- */
header {
    background: var(--header);
    border-bottom: 1px solid rgba(255, 255, 255, 0.06);

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-lg);
}

.brand {
    display: flex;
    align-items: center;
    gap: var(--space-md);
}

nav img {
    width: 5rem;
}

.navigation-items {
    display: flex;
    list-style: none;
    font-family: 'BebasNeue', sans-serif;
    font-size: var(--text-lg);
    gap: var(--space-lg);
    padding: 0 var(--space-lg);
}

.navigation-items li {
    display: inline-block;
}

header h1 {
    font-size: var(--text-2xl);
}

/* --------------------------------------------
                 COMPONENTS
----------------------------------------------- */
table {
    color: var(--text);
    font-size: var(--text-md);
}

table th,
table td {
    font-family: 'Manrope', sans-serif;
    line-height: 1.5;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: 8px;

    color: var(--text);
    background: var(--primary);

    font-family: 'BebasNeue', sans-serif;
    font-size: var(--text-md);
    letter-spacing: 0.5px;
    line-height: 1;

    gap: 6px;
    height: 36px;
    padding: 0 var(--space-md);

    cursor: pointer;
    transition: all 0.2s ease, box-shadow 0.25s ease;
}

.btn:hover {
    background: var(--btn-hover1);
    color: var(--text);
    box-shadow: 0 0 8px rgba(139, 92, 246, 0.4),
        0 0 16px rgba(139, 92, 246, 0.2);
    transform: translateY(-1px);
}

.btn:active {
    transform: translateY(1px);
}

.btn-delete {
    background: #7F1D1D;
    opacity: 0.9;
}

.btn-delete:hover{
    background: #7F1D1D;
    opacity: 1;
    box-shadow: 0 0 8px rgba(185, 28, 28, 0.4),
        0 0 16px rgba(185, 28, 28, 0.2);
}

.btn-icon {
    display: flex;
    align-items: center;
}

.btn-icon svg {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    transform: translateY(-1px);
}

.searchbar {
    display: flex;
    flex: 1;
    align-items: center;
    gap: var(--space-sm);

    max-width: 600px;
}

.search-input, .form-input {
    flex: 1;
    border: 1px solid var(--header);
    border-radius: 6px;

    background: var(--search-bg);
    color: var(--text);
    outline: none;

    font-family: 'Manrope', sans-serif;
    font-size: var(--text-sm);
    line-height: 1.5;

    padding: var(--space-sm) var(--space-md);
    min-width: 300px;
}

.search-input:focus, .form-input:focus {
    border-color: #291c47;
    box-shadow: 0 0 5px var(--glow);
}

.search-input::placeholder, .form-input::placeholder {
    color: #94A3B8;
}

.search-input:focus::placeholder, .form-input:focus::placeholder {
    opacity: 0.5;
}

.search-btn {
    background-color: var(--secondary);
    width: 100px;
}

.search-btn:hover {
    background-color: var(--btn-hover2);
    box-shadow:
        0 0 8px rgba(34, 197, 94, 0.4),
        0 0 16px rgba(34, 197, 94, 0.2);
}

/* --------------------------------------------
                  FOOTER 
----------------------------------------------- */
footer {
    display: flex;
    justify-content: space-between;
    background: var(--header);
    color: var(--text);
    padding: var(--space-md) var(--space-lg);
    border-top: 1px solid rgba(255, 255, 255, 0.08);
}

footer p {
    font-size: var(--text-xs);
}