:root {
    /* COLORS */
    --text: #F1F5F9;
    --text-muted: #94A3B8;
    --background: linear-gradient(180deg, #0f172a 30%, #0a101d 70%);
    --header-and-footer: #1E293B;
    --border: rgba(255, 255, 255, 0.06);
    --hero-bg: rgba(255, 255, 255, 0.01);
    --searchbar-bg: #0F172A;
    --searchbar-border: #291c47;
    --searchbar-glow: #8B5CF6;
    --btn-primary: #6b2a88;
    --btn-primary-hover: #54216b;
    --btn-primary-glow-sm: rgba(139, 92, 246, 0.4);
    --btn-primary-glow-md: rgba(139, 92, 246, 0.2);
    --btn-primary-glow-lg: rgba(139, 92, 246, 0.25);
    --btn-secondary: #22C55E;
    --btn-secondary-hover: #16A34A;
    --btn-secondary-glow-sm: rgba(34, 197, 94, 0.4);
    --btn-secondary-glow-md: rgba(34, 197, 94, 0.2);
    --btn-muted: rgba(107, 42, 136, 0.4);
    --card-bg: rgba(255, 255, 255, 0.02);
    --card-shadow: rgba(0, 0, 0, 0.15);
    --card-shadow-hover: rgba(0, 0, 0, 0.25);
    --table-header-border: rgba(51, 65, 85, 1);
    --table-rows-border: rgba(30 41 59 1);
    --table-hover: rgba(139, 92, 246, 0.06);
    --pagination-hover: rgba(139, 92, 246, 0.1);

    /* SPACING */
    --space-xs: 8px;
    --space-sm: 12px;
    --space-md: 16px;
    --space-lg: 24px;
    --space-xl: 32px;
    --space-2xl: 40px;
    --space-3xl: 64px;

    /* FONT SIZES */
    --text-xxs: 0.625rem;
    --text-xs: 0.75rem;
    --text-sm: 0.875rem;
    --text-md: 1rem;
    --text-lg: 1.25rem;
    --text-xl: 1.75rem;
    --text-2xl: 2.25rem;
    --text-3xl: 2.625rem;
    --text-4xl: 3rem;

}

@font-face {
    font-family: 'BebasNeue';
    src: url(../fonts/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: 'Manrope';
    src: url(../fonts/Manrope-VariableFont_wght.ttf);
}